---
import { Trans, HeadHrefLangs } from "astro-i18next/components";
import AvatarList from './AvatarList.astro';
type Props = {
	path: string;
	lang: string;
};
const { path } = Astro.props;
---
<!-- <AvatarList path={path} /> -->
<footer>
	<Trans i18nKey="footerLicense">
	<a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc/4.0/">Creative Commons Attribution-NonCommercial 4.0 International License</a>.
	</Trans>	
</footer>

<style>
	footer {
		margin-top: auto;
		padding: 2rem;
		border-top: 3px solid var(--theme-divider);
	}
</style>
